<div class="divider marginalize-top"></div>
<h4 class="center-align hide-on-med-and-down primary-color-text">Ruby | Rails | Javascript | HTML | CSS | Python</h4>
<h5 class="center-align hide-on-large-only hide-on-small-only primary-color-text">Ruby | Rails | Javascript | HTML | CSS | Python</h5>
<h6 class="center-align hide-on-med-and-up primary-color-text">Ruby | Rails | Javascript | HTML | CSS | Python</h6>
<div class="divider"></div>
