<h4 class="center-align hide-on-med-and-down">Ruby | Rails | Javascript | HTML | CSS | Python</h4>
<h5 class="center-align hide-on-large-only hide-on-small-only ">Ruby | Rails | Javascript | HTML | CSS | Python</h5>
<h6 class="center-align hide-on-med-and-up">Ruby | Rails | Javascript | HTML | CSS | Python</h6>
