<div class="row">
  <div class="col s12 center-align">
    <h5>
      Check out my latest and greatest work:
      <%= link_to "Zuzek & Company", "http://www.zuzekandco.com/", target:"_blank", class: "hover" %>
    </h5>
  </div>
</div><div class="divider marginalize-top"></div>
<h4 class="center-align hide-on-med-and-down primary-color-text">Ruby | Rails | React | JS | HTML | CSS | Python</h4>
<h5 class="center-align hide-on-large-only hide-on-small-only primary-color-text">Ruby | Rails | React | JS | HTML | CSS | Python</h5>
<h6 class="center-align hide-on-med-and-up primary-color-text">Ruby | Rails | React | JS | HTML | CSS | Python</h6>
<div class="divider"></div>
