<% provide(:title, "About") %>
<%= render 'static_pages/skills' %>
<div class="col-md-6">
  <%= image_tag("headshot.png", alt: "Professional Me", id: "about_photo") %>
</div>
<div class="col-md-6">
  <h1>Who Am I?</h1>
  <p>
    A highly technical and business-minded innovator with a hybrid background
    in aerospace manufacturing and web development. I am known for providing
    simple solutions to complex problems and elevating the performance of others.
    My projects have ranged from designing 3D printed equipment modifications to
    machining carbon fiber to building this website.
  </p>
  <p>
    <strong>Send me a message</strong>:<br>I am currently looking for a role as
    a Full-Stack Web Developer or Product Manager. I am also open to slight
    deviations from these roles. Please, explore my portfolio/resume and
    reach out if you think that I would be a good fit at your company.
    Alternatively, send me a message if you just want to talk about my work or
    yours. I am always interested in conversation about technology.
  </p>
  <p>
    I am presently employed in a multi-functional role by Boeing Research &
    Technology. We design and develop cutting edge manufacturing technology for
    composite materials. I am formally educated in Mechanical & Materials
    Engineering, Economics, and User-Centered Design. I am a self taught
    full-stack web developer. These have all contributed to my diverse
    skillset but I am still constantly expanding my repertoire.
  </p>
  <h3>
    Contact
  </h3>
  <p>
    davisk4rpi@gmail.com
  </p>
</div>
