<% provide(:title, "About") %>
<h1>Who Am I?</h1>
<p>
  I am a strategic and innovative problem solver actively looking for work as a
  Front-End Software Developer or Product Manager. I am presently employed in a
  multi-functional role by Boeing Research & Technology. We design and develop
  cutting edge manufacturing technology for composite materials.
</p>
<p>
  I am formally educated in Mechanical & Materials Engineering, Economics,
  and User-Centered Design. This has contributed to my diverse skills set but
  I am still constantly expanding my repertoire.
</p>
<h3>
  Contact
</h3>
<p>
  davisk4rpi@gmail.com
</p>
