<% provide(:title, "Home") %>
<div class="center jumbotron" id="welcome-message">
  <h1>Welcome!</h1>

  <h2>
    This website showcases the work of Kieran P. Davis.
  </h2>

</div>

<%= link_to image_tag("forest.png", alt: "Me", id: "home_photo"),
            about_url %>
