<% provide(:title, "Home") %>
<div class="container center-align">
  <div class="row">
    <div class="flow-text">
      <h1>Welcome!</h1>
      <%= render 'static_pages/skills' %>
      <p>
        This website showcases the work of Kieran P. Davis. I am technology
        generalist with tangible(valuable) skills in manufacturing engineering and web
        development. My passion is innovation and connectivity.
      </p>
    </div>
    <%= link_to "Check out my work!", work_url, class: "btn waves-effect waves-light z-depth-3" %>
  </div>
  <%= link_to image_tag("forest.png", alt: "Me", id: "home_photo", class: "z-depth-5"),
              about_url %>
</div>
