<% provide(:title, "Home") %>
<div class="top center jumbotron" id="welcome-message">
  <h1>Welcome!</h1>

  <h2>
    This website showcases the work of Kieran P. Davis.
  </h2>
  <%= link_to "Check out my work!", work_url, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("forest.png", alt: "Me", id: "home_photo"),
            about_url %>
