<% provide(:title, "Home") %>
<div class="center-align">
  <div class="row">
    <h1>Welcome!</h1>
    <div>
      <h4>Ruby | Rails | Javascript | HTML | CSS | Python</h4>
      <p>
        This website showcases the work of Kieran P. Davis. I am technology
        generalist with tangible(valuable) skills in manufacturing engineering and web
        development. My passion is innovation and connectivity.
      </p>
    </div>
    <%= link_to "Check out my work!", work_url, class: "btn waves-effect waves-blue-grey" %>
  </div>
</div>

<%= link_to image_tag("forest.png", alt: "Me", id: "home_photo"),
            about_url %>
