<% provide(:title, "Resume") %>
<iframe id="resume" align="middle" src="https://docs.google.com/document/d/1Wcy_6J1f1G-YvOheLv6B1vtiVPPj3aPqZzWV_wG-BxI/pub?embedded=true"></iframe>
<div class="row center">
  <%= link_to "Check it out on Google Docs", 'https://docs.google.com/document/d/1Wcy_6J1f1G-YvOheLv6B1vtiVPPj3aPqZzWV_wG-BxI/edit?usp=sharing', class: "btn btn-lg btn-primary google-docs" %>
</div>
