<div class="row">
  <div class="col m8 offset-m2 s12">
    <ul>
      <li>
        Designed and developed new technologies that resulted in 6 submissions to
        the US Patent Office (1 awarded 5 pending) and 7 Boeing invention awards.
      </li>
      <li>
        Designed processes and equipment spanning multiple technology domains from
        material handling and manipulation to robotics and additive manufacturing.
      </li>
      <li>
        Used Solidworks to design dozens of 3D printed parts to be used on
        production equipment and various research projects.
      </li>
    </ul>
  </div>
</div>
