<div class="row">
  <div class="col m8 offset-m2 s12">
    <ul>
      <li>
        Managed a team of 8 engineers and technicians developing a robotic
        extrusion process. Coordinated with multiple teams and the key stakeholders
        to set proper milestones to ultimately prove technology readiness for
        production.
      </li>
      <li>
        Lead Lab Optimization Team to develop and institute lean practices such as
        using visual controls to reduce overhead associated with consumable
        material resupply. Also implemented user friendly procedures for
        clean-as-you-go resulting in better lab space utilization and nearly
        eliminating lab maintenance overhead.
      </li>
      <li>
        Managed a team of 6 senior engineers on a $16M full scale manufacturing
        demonstration which we completed on time despite starting a month later
        than expected and late additions of new features by the customer.
      </li>
    </ul>
  </div>
</div>
