<div class="row">
  <div class="col m8 offset-m2 s12">
    <p>
      <strong>Granted Patent</strong>
      <ul>
        <li>
          Systems and methods for compacting a charge of composite material<br>
          <%= link_to "Link to Patent", "https://www.google.com/patents/US9314976", target: "_blank" %>
        </li>
      </ul>
    </p>
    <p>
      <strong>Published Patent Applications</strong>
      <ul>
        <li>
          Ventilation systems for use with a plasma treatment system<br>
          <%= link_to "Link to Patent Application", "https://www.google.com/patents/US20160379808", target: "_blank" %>
        </li>
        <li>
          Systems and methods for compacting a charge of composite material<br>
          <%= link_to "Link to Patent Application", "https://www.google.com/patents/US20150352795", target: "_blank" %>
        </li>
      </ul>
    </p>
  </div>
</div>
