<ul class="collapsible popout" data-collapsible="expandable">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">flight_takeoff</i>Background
    </div>
    <div class="collapsible-body">
      <%= render "work_colllection/rails/background_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">code</i>This Website
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/rails/this_website_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">whatshot</i>Rails Tutorial Twitter-like App
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/rails/tutorial_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">build</i>(Coming Soon) Zuzek & Company Website
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/rails/znc_body" %>
    </div>
  </li>
</ul>
