<div class="panel-group" id="railsaccordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="railsheadingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#railsaccordion"
            href="#railscollapseOne" aria-expanded="true" aria-controls="railscollapseOne">
          Background
        </a>
      </h4>
    </div>
    <div id="railscollapseOne" class="panel-collapse collapse in"
          role="tabpanel" aria-labelledby="railsheadingOne">
      <div class="panel-body">
        <%= render "work_colllection/rails/background_body" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="railsheadingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse"
            data-parent="#railsaccordion" href="#railscollapseTwo" aria-expanded="false"
            aria-controls="railscollapseTwo">
          This Website
        </a>
      </h4>
    </div>
    <div id="railscollapseTwo" class="panel-collapse collapse"
          role="tabpanel" aria-labelledby="railsheadingTwo">
      <div class="panel-body">
        <%= render "work_colllection/rails/this_website_body" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="railsheadingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse"
            data-parent="#railsaccordion" href="#railscollapseThree"
            aria-expanded="false" aria-controls="railscollapseThree">
          Rails Tutorial Twitter-like App
        </a>
      </h4>
    </div>
    <div id="railscollapseThree" class="panel-collapse collapse"
          role="tabpanel" aria-labelledby="railsheadingThree">
      <div class="panel-body">
        <%= render "work_colllection/rails/tutorial_body" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="railsheadingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse"
            data-parent="#railsaccordion" href="#railscollapseFour" aria-expanded="false"
            aria-controls="railscollapseFour">
          (Coming Soon) Zuzek & Company Website
        </a>
      </h4>
    </div>
    <div id="railscollapseFour" class="panel-collapse collapse"
          role="tabpanel" aria-labelledby="railsheadingFour">
      <div class="panel-body">
        <%= render "work_colllection/rails/znc_body" %>
      </div>
    </div>
  </div>
</div>
