<ul class="collapsible popout" data-collapsible="expandable">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">flight_takeoff</i>Background
    </div>
    <div class="collapsible-body">
      <%= render "work_colllection/ruby/background_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">code</i>Chess
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/ruby/chess_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">whatshot</i>Connect Four
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/ruby/connect_four_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">build</i>Mastermind
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/ruby/mastermind_body" %>
    </div>
  </li>
</ul>
