<ul class="collapsible popout" data-collapsible="expandable">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">info</i>Background
    </div>
    <div class="collapsible-body">
      <%= render "work_colllection/ruby/background_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">games</i>Chess
    </div>
    <div class="collapsible-body">
      <%= render "work_colllection/ruby/chess_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">lens</i>Connect Four
    </div>
    <div class="collapsible-body">
      <%= render "work_colllection/ruby/connect_four_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">videogame_asset</i>Mastermind
    </div>
    <div class="collapsible-body">
      <%= render "work_colllection/ruby/mastermind_body" %>
    </div>
  </li>
</ul>
