<% provide(:title, "Boeing") %>
<div class="container flow-text">
  <div class="center-align">
    <h1>Boeing Research & Technology</h1>
    <h4>Mechanical/Materials Engineering & Beyond</h4>
  </div>
  <div>
    <%= render 'boeing_details' %>
  </div>
</div>
