<% provide(:title, "Boeing") %>
<div class="top center jumbotron">
  <h1>Boeing Research & Technology</h1>
  <h3>Mechanical/Materials Engineering & Beyond</h3>
</div>
<div>
  <%= render 'boeing_details' %>
</div>
