<div class="top center jumbotron" >
  <h1>Work</h1>
  <p>
    The most significant projects that I have worked on can be separated into
    three main categories: as a Boeing engineer, as a User-Centered Design
    student at the University of Washington, and as a self-taught Software
    Developer.
  </p>
</div>
<div class="col-md-4 work">
  <h3>Boeing Research & Technology</h3>
  <%= link_to image_tag("boeing/boeing_logo.png",
                        alt: "Boeing",
                        id: "boeing_logo"), work_boeing_url %>
</div>
<div class="col-md-4 work">
  <h3>User-Centered Design</h3>
  <%= link_to image_tag("registrar/UW_logo.png",
                        alt: "University of Washington",
                        id: "uw_logo"),work_ucd_url %>
</div>
<div class="col-md-4 work">
  <h3>Software Development</h3>
  <%= link_to image_tag("coding_brain.png",
                        alt: "Software Development",
                        id: "software_development"),work_developer_url %>
</div>
