<p>
  The original Office of the Registrar’s website was outdated and
  poorly managed. As seen in the above pictures the design was
  inconsistent from page to page. Non obvious and technical language
  was in use all over the site. There was too much information all over
  that could be found more easily on other university websites.
</p>
<p>
  With help from the website owner, we began the research phase of our
  redesign.
</p>
