<div class="row">
  <div class="col m8 s12">
    <p>
      The original Office of the Registrar’s website was outdated and
      poorly managed. As seen in the above pictures the design was
      inconsistent from page to page. Non obvious and technical language
      was in use all over the site. There was too much information all over
      that could be found more easily on other university websites.
    </p>
  </div>
  <div class="col m4 s12">
    <div class="row">
      <div class="col s12">
        <%= image_tag("registrar/registrar-before-1.png",
                      alt: "Before Picture 1",
                      class: "responsive-img materialboxed")%>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= image_tag("registrar/registrar-before-2.png",
                      alt: "Before Picture 2",
                      class: "responsive-img materialboxed")%>
      </div>
    </div>
  </div>
</div>
