<p>
  As the lead developer for the project, I used HTLM/CSS and Bootstrap
  to create our final project deliverable. I created enough of the
  website to perform testing for our main use cases and to act as a
  template for the completion of the website.
</p>
<p>
  Some key improvements from the original site are: Designed a more
  aesthetically pleasing interface; Reduced the top level navigation to
  eliminate information overload; Use of actionable and simple language
  to avoid confusion due to misunderstanding of terminology;
  Highlighted the mostimportant tasks for each user in their respective
  "How Do I" sections.
</p>
<p>
  Check it out
  <a href="http://davisk4rpi.github.io/uw_registrar/index.html">here</a>
</p>
<p>
  <em>*Since the prototype is limited, I suggest pretending that you are a student
  looking for their Dean's Letter or an instructor trying to change a student's
  grade. According to Google Analytics and our surveys, these were the most
  common user needs.</em>
</p>
