<p>
  Using Axure we created mid fidelity wire-frame with what we learned
  from the paper prototypes. This prototype was then user tested for a
  set of common scenarios and tasks. Several major usability issues
  were addressed after testing and much of the design made it into the
  team's final deliverable.
</p>
<!-- Image trigger modals -->
<div class="col-md-6">
  <%= image_tag("registrar/mid-fidelity-registrar.png",
                alt: "Mid-Fidelity",
                class: "responsive-img materialboxed")%>
</div>
