<p>
  With the bulk of our research completed, we hosted a card sorting
  exercise and designed our site's architecture. After we drafted the
  general architecture, we sketched dozens of potential designs. From
  those sketches we extracted the best parts and created a few paper
  prototypes. These low fidelity prototypes were field tested and we
  were ready to move on to our first digital prototype.
</p>
