<p>
  We created 3 personas to simply categorize 90%+ of our users. Based
  on our research we applied appropriate quantitative and qualitative
  metrics to each group. These 3 Personas (Student, International
  Student, and Faculty/Staff), were heavily relied upon during the
  design and prototyping phases.
</p>
