<div class='row'>
  <p>
    After testing was complete we reviewed our notes and watched the recordings,
    extracting all the useful information. We used several different methods of
    organizing the data to find commonality and identify the major issues.
  </p>
  <!-- Image trigger modals -->
  <div class="col s6">
    <%= image_tag("laud_social/analyzing-results.png",
                  alt: "Results Analysis",
                  class: "responsive-img materialboxed")%>
  </div>
</div>
