<div class='row'>
  <div class="col m8 s12">
    <p>
      After testing was complete we reviewed our notes and watched the recordings,
      extracting all the useful information. We used several different methods of
      organizing the data to find commonality and identify the major issues.
    </p>
  </div>
  <div class="col m4 s12">
    <%= image_tag("laud_social/analyzing-results.png",
                  alt: "Results Analysis",
                  class: "responsive-img materialboxed")%>
  </div>
</div>
