<div class="col-md-8">
  <p>
    For my Usability Studies course at the University of Washington I was tasked
    with designing and moderating a usability study for a local business. We were
    instructed to contact the business owners and work with them throughout the
    process. At the end of the course we were to submit our findings and provide
    recommendations. My team chose Laud Social.
  </p>
  <p>
    Laud Social is a social media marketing tool for small business owners or any
    social media managers. The iPhone app relies on complimentary businesses to
    collaborate and cross promote each other. The app caters to both the casual
    social media manager as well as the professional marketer that manages
    multiple brands simultaneously. Check out their website for more information.
  </p>
  <p>
    At the end of the course, we presented our results to the key stakeholders
    and submitted a formal report. We made a several suggested improvements which
    were included in the next version. The app is still in beta testing, but you
    can request a demo from their website.
  </p>
  <p>
    Laud Social has gone through some drastic changes since this project's
    completion.<br>
    Website: <a href="http://www.laudsocial.com/">http://www.laudsocial.com/</a>
  </p>
</div>
<div class="col-md-4">
  <%= image_tag("laud_social/laud_social_logo.png",
                alt: "University of Washington",
                class: "responsive-img materialboxed") %>
</div>
