<p>
  Using Axure we created mid fidelity wire-frame with what we learned
  from the paper prototypes. This prototype was then user tested for a
  set of common scenarios and tasks. Several major usability issues
  were addressed after testing and much of the design made it into the
  team's final deliverable.
</p>
<!-- Image trigger modals -->
<div class="col-md-6">
  <%= image_tag("registrar/mid-fidelity-registrar.png",
                alt: "Mid-Fidelity",
                'data-toggle': "modal",
                'data-target': "#mid-fidelity-registrar")%>
  <!-- Modal -->
  <div class="modal fade" id="mid-fidelity-registrar" tabindex="-1" role="image"
        aria-labelledby="mid-fidelity-registrar-Label">
    <div class="modal-dialog modal-lg" role="image">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= image_tag("registrar/mid-fidelity-registrar.png",
                        alt: "Mid-Fidelity",
                        class: "modal-img")%>
        </div>
      </div>
    </div>
  </div>
</div>
