<p>
  All of the information we collected was used to create personas.
</p>
<p>
  We created 3 personas to simply categorize 90%+ of our users. Based
  on our research we applied appropriate quantitative and qualitative
  metrics to each group. These 3 Personas (Student, International
  Student, and Faculty/Staff), were heavily relied upon during the
  design and prototyping phases.
</p>
<!-- Image trigger modals -->
<div class="col-md-6">
  <%= image_tag("registrar/steven-student.png",
                alt: "Steven Student",
                'data-toggle': "modal",
                'data-target': "#steven-student")%>
  <!-- Modal -->
  <div class="modal fade" id="steven-student" tabindex="-1" role="image"
        aria-labelledby="steven-student-Label">
    <div class="modal-dialog modal-lg" role="image">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= image_tag("registrar/steven-student.png",
                        alt: "Steven Student",
                        class: "modal-img")%>
        </div>
      </div>
    </div>
  </div>
</div>
