<p>
  To kickoff the project we scheduled a meeting with the co-founders to learn
  more about their product and goals. They told us about their target users and
  we were given the opportunity to try the app.
</p>
<p>
  After trying the app we designed our testing protocol. We created several
  scenarios each with a series of tasks to be performed. We also created a
  screening survey to help find our participants. In the end we tested 3 user
  groups: novice, intermediate, and expert social media managers.
</p>
<!-- Image trigger modals -->
<div class="col-md-6">
  <%= image_tag("laud_social/planning.png",
                alt: "Laud Social Screen Grab",
                class: "responsive-img materialboxed")%>
</div>
