<p>
  After studying the Google Analytics for the existing site, we looked
  at other top universities' registrar websites to identify existing
  best practices. We then developed a survey to be completed by current
  user's of the website. We also interviewed several user's from each
  of our intended user groups. For both the surveys and interviews, we
  were careful to not include any leading questions in order to get the
  least biased responses. Interestingly, our desired users were
  unfamiliar the Office of the Registrar and didn't even realize that
  they had been using the site already.
</p>
<!-- Image trigger modals -->
<div class="col-md-6">
  <%= image_tag("registrar/research-overview.png",
                alt: "Research-Overview",
                'data-toggle': "modal",
                'data-target': "#research-overview")%>
  <!-- Modal -->
  <div class="modal fade" id="research-overview" tabindex="-1" role="image"
        aria-labelledby="research-overview-Label">
    <div class="modal-dialog modal-lg" role="image">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= image_tag("registrar/research-overview.png",
                        alt: "Research-Overview",
                        class: "modal-img")%>
        </div>
      </div>
    </div>
  </div>
</div>
