<p>
  For our testing, we used a private room with a casual atmosphere. We used a
  GoPro to record our testing and also to live stream the testing to our
  stakeholders in another room. During the testing we alternated roles as
  moderator and note taker.
</p>
<!-- Image trigger modals -->
<div class="col-md-6">
  <%= image_tag("laud_social/testing.png",
                alt: "Testing Rig",
                class: "responsive-img materialboxed")%>
</div>
