<div class="row">
  <div class="col m8 s12">
    <p>
      Although it's simpler game than chess,
      <%= link_to "Connect Four", "https://en.wikipedia.org/wiki/Connect_Four", target: "_blank"  %>
      was another useful project. For this project, there was a focus on
      Test-Driven Development and Object-Oriented Programing. Both Chess and
      Connect Four allowed me to work with complex data structures to determine
      win conditions.
    </p>
    <p>
      Check out the code on
      <%= link_to "GitHub", "https://github.com/davisk4rpi/top_connect_four", target: "_blank"  %>
    </p>
  </div>
  <!-- Image trigger modals -->
  <div class="col m4 offset-s1 s10 center-align">
    <%= image_tag("ruby/connect_four.png",
                  alt: "Connect Four Gameplay",
                  class: "responsive-img materialboxed")%>
  </div>
</div>
