<div class="row">
  <div class="col m8 s12">
    <p>
      One of my simpler Ruby projects was to create a command line version of
      <%= link_to "Mastermind", "https://en.wikipedia.org/wiki/Mastermind_(board_game)", target: "_blank"  %>.
      For this project, there was a focus on Object-Oriented Programming. I also
      created a weak AI to play with.
    </p>
    <p>
      Check out the code on
      <%= link_to "GitHub", "https://github.com/davisk4rpi/mastermind", target: "_blank"  %>
    </p>
  </div>
  <!-- Image trigger modals -->
  <div class="col m4 offset-s1 s10 center-align">
    <%= image_tag("ruby/mastermind.png",
                  alt: "Mastermind Gameplay",
                  class: "responsive-img materialboxed")%>
  </div>
</div>
