<p>
  Since the app was still in its infancy, some of the biggest issues could be
  attributed to buggy programming and not the design. There were, however,
  issues with some of the feature interactions resulting in incomplete tasks
  during testing. Also, some terminology refinement was necessary as some of
  the participants were unfamiliar with the labeling of features.
</p>
<!-- Image trigger modals -->
<div class="col-md-6">
  <%= image_tag("laud_social/findings.png",
                alt: "Findings",
                'data-toggle': "modal",
                'data-target': "#findings")%>
  <!-- Modal -->
  <div class="modal fade" id="findings" tabindex="-1" role="image"
        aria-labelledby="findings-Label">
    <div class="modal-dialog modal-lg" role="image">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= image_tag("laud_social/findings.png",
                        alt: "Findings",
                        class: "modal-img")%>
        </div>
      </div>
    </div>
  </div>
</div>
