<div class="row">
  <div class="col m8 s12">
    <p>
      I am currently employed by Boeing Research & Technology in the Puget Sound
      Region of Washington State. Unfortunately due to the vast majority of my
      work falling under the umbrella of Boeing Proprietary Information, I cannot
      discuss the specifics of much of my work. This includes both code and
      devices that I have devloped.
    </p>
  </div>
  <div class="col m4 s12">
    <%= image_tag("boeing/boeing-logo-full.gif",
                  alt: "Boeing",
                  class: "marg-top") %>
  </div>
</div>
