<p>
  <strong>Granted Patent</strong>
  <ul>
    <li>
      Systems and methods for compacting a charge of composite material
      <a href="https://www.google.com/patents/US9314976">Link to Patent</a>
    </li>
  </ul>
</p>
<p>
  <strong>Published Patent Applications</strong>
  <ul>
    <li>
      Ventilation systems for use with a plasma treatment system
      <a href="https://www.google.com/patents/US20160379808">
        Link to Patent Application
      </a>
    </li>
    <li>
      Systems and methods for compacting a charge of composite material
      <a href="https://www.google.com/patents/US20150352795">
        Link to Patent Application
      </a>
    </li>
  </ul>
</p>
