<div class="row">
  <div class="col m8 offset-m2 s12">
    <ul>
      <li>
        Designed and performed multiple experiments to characterize the
        effectiveness of various manufacturing technology and then processed the
        resultant data to present to prospective internal customers. Authored
        several internal reports that are still frequently referred to.
      </li>
    </ul>
  </div>
</div>
