<ul>
  <li>
    Designed and implemented python program eliminating 100s of hours of
    repetitive labor processing csv files. Built GUI and froze the code as .exe
    to allow for use on all lab computers.
  </li>
  <li>
    Designed and built a web based calculator for drill motor component parts.
    Used HTML/CSS and Javascript/jQuery UI to create a simple and clear
    interface for shop use.
  </li>
</ul>
