<div class="row">
  <div class="col m8 s12">
    <p>
      After studying the Google Analytics for the existing site, we looked
      at other top universities' registrar websites to identify existing
      best practices. We then developed a survey to be completed by current
      user's of the website. We also interviewed several user's from each
      of our intended user groups. For both the surveys and interviews, we
      were careful to not include any leading questions in order to get the
      least biased responses. Interestingly, our desired users were
      unfamiliar the Office of the Registrar and didn't even realize that
      they had been using the site already.
    </p>
  </div>
  <div class="col m4 s12">
    <%= image_tag("registrar/research-overview.png",
                  alt: "Research-Overview",
                  class: "responsive-img materialboxed")%>
  </div>
</div>
