<div class="row">
  <div class="col m8 s12">
    <p>
      This very website was built using Rails, at least partly. Granted, this site
      is almost entirely static. It was far easier to piece together my
      work with Rails than otherwise. It also gives me lots of flexibility for future
      features. Not to mention how easy it was to deploy on
      <%= link_to "Heroku", "https://www.heroku.com/", target: "_blank"  %>.
    </p>
    <p>
      The bulk of this site uses <%= link_to "Materialize CSS", "http://materializecss.com/", target: "_blank" %> for its styling.
    </p>
    <p>
      Check out the code on
      <%= link_to "GitHub", "https://github.com/davisk4rpi/personal-website", target: "_blank"  %>
    </p>
  </div>
</div>
