<div class="row">
  <div class="col m8 s12"
    <p><strong>More Info Coming Soon!</strong></p>
    <p>
      Freelance Web Development - Lead Developer/Product Manager
    </p>
    <p>
      Currently designing and building the company website. Informational website
      launch in mid-March 2017!
    </p>
    <p>
      Check out the <%= link_to "Website", "http://www.zuzekandco.com/", target: "_blank" %>
    </p>
  </div>
</div>
