<p><strong>More Info Coming Soon!</strong></p>
<p>
  Freelance Web Development - Lead Developer/Product Manager
</p>
<p>
  Currently designing and building the company website. Informational website
  launch in mid-March 2017!
</p>
