@import "materialize/components/color";
/* https://www.materialpalette.com/cyan/orange */

$primary-color: color("blue-grey", "base") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("green", "darken-2") !default;
$input-success-color: color("green", "base") !default;
$input-error-color: color("red", "base") !default;
$link-color: color("blue", "darken-3") !default;
@import "materialize";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-medium-dark: #555;

@mixin readable {
  font-size: 1.2em;
  line-height: 1.7em;
  max-width: 40em;
  display: block;
  margin: auto;
}

.icon {
  width: 32px;
  display: block;
  margin: auto 8px;
}

/* Navigation */

.brand-logo {
  margin-top: 8px;
  text-transform: uppercase;
  line-height: 24px;
  .subtitle {
    font-size: 1rem;
    line-height: 10px;
  }
}

.nav-wrapper {
  a {
    @extend .valign-wrapper;
    height: 64px;
  }
}

.side-nav{
  a.valign-wrapper {
    @extend .valign-wrapper;
  }
}
