<h5>Software Development</h5>
<%= link_to image_tag("coding_brain.png",
                      alt: "Software Development",
                      id: "software_development"), work_developer_url, class: "hover" %>
