<% provide(:title, "Web Development") %>
<div class="container">
  <div class="row center-align">
    <h1>Software Development</h1>
    <h3>Ruby, Rails, and Neverending Self-Improvement</h3>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#rails">Ruby-on-Rails</a></li>
        <li class="tab"><a href="#ruby">Pure Ruby</a></li>
      </ul>
    </div>
    <div id="rails" class="col s12">
      <%= render 'rails' %>
    </div>
    <div id="ruby" class="col s12">
      <%= render 'ruby' %>
    </div>
  </div>
</div>
