<% provide(:title, "Work") %>
<div class="container flow-text center-align" >
  <div class="row">
    <h1>Work</h1>
    <p>
      The most significant projects that I have worked on can be separated into
      three main categories: as a self-taught Software
      Developer, as a Boeing engineer, and as a User-Centered Design
      student at the University of Washington.
    </p>
  </div>
  <div class="row center-align">
    <div class="col m4 s10 offset-s1 work">
      <%= render "work_collection/developer_tile" %>
    </div>
    <div class="col m4 s10 offset-s1 work">
      <%= render "work_collection/boeing_tile" %>
    </div>
    <div class="col m4 s10 offset-s1 work">
      <%= render "work_collection/ucd_tile" %>
    </div>
  </div>
</div>
