<header class="navbar navbar-fixed-top navbar-default">
  <div class="container hidden-xs hidden-sm">
    <%= render "layouts/header_large" %>
  </div>
  <div class="container visible-xs-block visible-sm-block">
    <%= render "layouts/header_small" %>
  </div>
</header>
