<li><%= link_to "Work Summary", work_url %></li>
<li><%= link_to "Software Development", work_developer_url %></li>
<li><%= link_to "Boeing", work_boeing_url %></li>
<li><%= link_to "User-Centered Design", work_ucd_url %></li>
